@import url(font.css);

body{
    background: rgb(60, 60, 60);
}
.box{
  
    display: flex;
    justify-content: center;
   
}
a{
    text-decoration: none;
}

.dior{
    width: 500px;
    height: 300px;
    background: rgb(60, 60, 60);
    position: relative;
    bottom: -170px;
    border-radius: 15px;
    box-shadow: 0 0 7px 7px white ;

    /* margin: auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.dior span{
    background: rgb(60, 60, 60);
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px;
    transition: 300ms;
}
.dior span:hover{
    box-shadow: 0 0 5px 5px purple;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,52,135,1) 30%, rgba(0,212,255,1) 100%);
    -webkit-animation: text;
    transform: scale(1.2);
}


.fab{
  
    font-size: 50px;
    color: white;
    margin-right: 30px;
   
}